<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 网站说明 -->
    <meta name="description" content="Covid-19新型冠状网站" />
    <!-- 网站关键字 -->
    <meta name="keywords" content="新型冠状病毒,了解新型冠状病毒,预防新型冠状病毒,心理咨询,新型冠状病毒时讯">
    <link rel="shortcut icon" href="images/logo.ico" />

    <link rel="stylesheet" href="css/covid_dates.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/tailwind.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <title>COVID-19各国疫情数据统计</title>

</head>

<body>
    <div id="app" class="antialiased">
        <header class="text-center border-b border-gray-300 mb-6 pb-2">
            <h1 class="m-0 text-3xl font-medium">COVID-19各国疫情数据统计</h1>
            <p class="my-4 text-md text-gray-600">
                数据来源：<br>
                <a :href="api" target="_blank">{{ api }}</a><br>
                by <a href="https://github.com/javieraviles">Javier Aviles</a>
            </p>
            <p class="my-4 text-md">
                <button @click="fetchCountryData"
                    class="bg-purple-600 rounded py-2 px-4 text-white text-sm font-semibold ml-auto"
                    :class="{ 'cursor-not-allowed opacity-50': (!statsLoaded || !countriesLoaded) }">
                    <span v-if="statsLoaded || countriesLoaded">更新</span>
                    <span v-else>等待&hellip;</span>
                </button>
            </p>
        </header>

        <alert v-if="errorStats">
            <template v-slot:title>
                Error Loading Stats!
            </template>
            <template v-slot:content>
                <p>There was an error loading the stats data.</p>
            </template>
        </alert>

        <alert v-if="errorCountries">
            <template v-slot:title>
                Error Loading Country Data!
            </template>
            <template v-slot:content>
                <p>There was an error loading the country-specific data.</p>
            </template>
        </alert>

        <ul v-if="countriesLoaded" class="md:grid md:grid-cols-2 md:gap-4">
            <li v-for="(item, idx) in paginatedData" :key="idx">
                <card>
                    <h3 class="font-bold text-md mb-3 pb-2 border-b border-gray-300">
                        {{ item.country }}
                    </h3>
                    <div class="grid grid-cols-2 gap-4">
                        <p>
                            <stat-title>现有确诊</stat-title>
                            <stat-num :stat="item.active" />
                        </p>
                        <p>
                            <stat-title>今日确诊</stat-title>
                            <stat-num :stat="item.todayCases" />
                        </p>
                        <p>
                            <stat-title>累计确诊</stat-title>
                            <stat-num :stat="item.cases" />
                        </p>
                        <p>
                            <stat-title>累计死亡</stat-title>
                            <stat-num :stat="item.deaths" />
                        </p>
                        <p>
                            <stat-title>累计治愈</stat-title>
                            <stat-num :stat="item.recovered" />
                        </p>
                        <p>
                            <stat-title>现有重症</stat-title>
                            <stat-num :stat="item.critical" />
                        </p>
                    </div>
                </card>
            </li>
        </ul>

        <div v-if="countriesLoaded">
            <div class="text-center my-4 text-sm text-gray-600">
                <p>{{ pagePlace }}</p>
            </div>
            <pagination :has-prev="pageNumber > 0" :has-next="pageNumber < pageCount -1" @next="nextPage"
                @prev="prevPage" />
        </div>
    </div>
    <script>
        Vue.component('stat-title', {
            template: `
    <h4 class="text-sm mb-2 uppercase font-medium text-gray-500">
      <slot/>
    </h4>` });


        Vue.component('stat-num', {
            props: {
                stat: {
                    type: Number,
                    default: 0
                }
            },


            template: `
    <h4 class="font-mono font-medium bold text-purple-700">
      {{ stat.toLocaleString() }}
    </h4>` });


        Vue.component('card', {
            template: `
    <div class="card rounded overvlow-hidden shadow-md p-6 border border-gray-300 mb-4 md:mb-0">
      <slot />
    </div>` });


        Vue.component('alert', {
            template: `
    <div role="alert">
      <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
        <slot name="title"/>
      </div>
      <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
        <slot name="content"/>
      </div>
    </div>` });


        Vue.component('pagination', {
            props: {
                hasPrev: {
                    type: Boolean,
                    default: false
                },

                hasNext: {
                    type: Boolean,
                    default: false
                }
            },


            template: `
    <div class="pagination mt-4 flex">
      <button
        class="bg-purple-600 rounded py-2 px-4 text-white font-semibold"
        :disabled="!hasPrev"
        :class="{ 'cursor-not-allowed opacity-50': !hasPrev }"
        @click="$emit('prev')">
          &larr; 上一页
      </button>
      <button
        class="bg-purple-600 rounded py-2 px-4 text-white font-semibold ml-auto"
        :disabled="!hasNext"
        :class="{ 'cursor-not-allowed opacity-50': !hasNext }"
        @click="$emit('next')">
          下一页 &rarr;
      </button>
    </div>` });


        const app = new Vue({
            el: '#app',
            data() {
                return {
                    api: 'https://coronavirus-19-api.herokuapp.com',
                    statsLoaded: false,
                    countriesLoaded: false,
                    errorStats: false,
                    errorCountries: false,
                    items: [],
                    stats: [],
                    pageSize: 6,
                    pageNumber: 0
                };

            },
            computed: {
                pageCount() {
                    const itemCount = Object.entries(this.items).length;
                    const pageSize = this.pageSize;

                    return Math.ceil(itemCount / pageSize);
                },
                paginatedData() {
                    const data = this.items;
                    const start = this.pageNumber * this.pageSize;
                    const end = start + this.pageSize;
                    const filtered = data.slice(start, end);

                    return filtered;
                },
                pagePlace() {
                    return `Page ${this.pageNumber + 1} of ${this.pageCount}`;
                }
            },

            mounted() {
                this.fetchCountryData();
                this.fetchStats();
            },
            methods: {
                // fetch stats by country
                fetchCountryData() {
                    this.countriesLoaded = false;
                    this.errorCountries = false;

                    fetch(`${this.api}/countries`).
                        then(res => res.json()).
                        then(data => this.items = data).
                        finally(() => this.countriesLoaded = true).
                        catch(error => {
                            this.countriesLoaded = false;
                            this.errorCountries = true;
                            console.log(error);
                        });
                },
                // fetch basic stats
                fetchStats() {
                    this.statsLoaded = false;
                    this.errorStats = false;

                    fetch(`${this.api}/all`).
                        then(res => res.json()).
                        then(data => this.stats = data).
                        finally(() => this.statsLoaded = true).
                        catch(error => {
                            this.statsLoaded = false;
                            this.errorStats = true;
                            console.log(error);
                        });
                },
                prevPage() {
                    this.pageNumber--;
                },
                nextPage() {
                    this.pageNumber++;
                }
            }
        });
    </script>




</body>


</html>